<div class="contactpage">
    <div class="cp-top">
        <h4>Con<span>tact U</span>s</h4>
        <p>Have questions or ready to start your project? Reach out to our team for expert advice and support</p>
    </div>
    <div class="form-cinfo">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="fn-e">
                <div class="ltb">
                    <label>Full Name</label>
                    <input formControlName="fullName" type="text" placeholder="Your Name" />
                </div>

                <div class="ltb">
                    <label>Email Address</label>
                    <input formControlName="email" type="email" placeholder="Your Email" />
                </div>
            </div>

            <div class="ltbp">
                <label>Phone Number</label>
                <input formControlName="phoneNumber" type="tel" placeholder="Your Phone" />
            </div>

            <div class="ltbs">
                <label>Services</label>
                <select formControlName="services">
                    <option value="" disabled>Select a service</option>
                    <option *ngFor="let service of serviceOptions" [value]="service">
                        {{ service }}
                    </option>
                </select>
            </div>

            <div class="ltbs">
                <label>Message</label>
                <textarea formControlName="message" placeholder="Tell us about your project"></textarea>
            </div>

            <button type="submit">Send Message</button>
        </form>

        <div class="cinfo">
            <div class="chead">
                <h3>Contact Information</h3>
            </div>
            <div class="ci-add">
                <div class="cil">
                    <i class="bi bi-geo-alt">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(22, 89, 224)"
                            class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path
                                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                    </i>
                </div>
                <div class="cir">
                    <h5>Address</h5>
                    <p>123 Industrial Avenue, North Industrial Area Accra, Ghana</p>
                </div>
            </div>
            <div class="ci-phone">
                <div class="cil">
                    <i class="bi bi-telephone">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(22, 89, 224)"
                            class="bi bi-telephone" viewBox="0 0 16 16">
                            <path
                                d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                        </svg>
                    </i>
                </div>
                <div class="cir">
                    <h5>Phone</h5>
                    <p>+233 30 123 4587</p>
                    <p>+233 50 987 6543</p>
                </div>
            </div>
            <div class="ci-email">
                <div class="cil">
                    <i class="bi bi-envelope-at">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(22, 89, 224)"
                            class="bi bi-envelope-at" viewBox="0 0 16 16">
                            <path
                                d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z" />
                            <path
                                d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                        </svg>
                    </i>
                </div>
                <div class="cir">
                    <h5>Email</h5>
                    <p>info&#64;prestodea.com</p>
                    <p>sales&#64;prestodea.com</p>
                </div>
            </div>
            <div class="ci-business">
                <div class="cil">
                    <i class="bi bi-clock-history">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(22, 89, 224)"
                            class="bi bi-clock-history" viewBox="0 0 16 16">
                            <path
                                d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z" />
                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z" />
                            <path
                                d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                    </i>
                </div>
                <div class="cir">
                    <h5>Business Hours</h5>
                    <p>Monday - Friday: 8:00 AM - 5:00 PM</p>
                    <p>Saturday: 9:00 AM - 1:00 PM</p>
                    <p>Sunday: Closed</p>
                </div>
            </div>
            <div class="da-follow">
                <div class="daa-h">
                    <h3>Follow Us</h3>
                </div>
                <div class="daa-a">
                    <a href="#"><img src="images/follow_img1.webp" alt="facebook"></a>
                    <a href="#"><img src="images/twitterpng.png" alt="Twitter"></a>
                    <a href="#"><img src="images/Instagram_logo.svg.png" alt="Instagram"></a>
                    <a href="#"><img src="images/LinkedIn_icon.svg.png" alt="Linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="cp-bottom">
        <div class="d1">
            <div class="cpbt-d1">
                <img src="/images/CompanyLogo.png" alt="logo">
                <div class="ch3p">
                    <h3>PRESTODEA</h3>
                    <p>GHANA LIMITED</p>
                </div>
            </div>
            <div class="cpbt-txt">
                Premium glass and metal solutions for residential, commercial, and industrial applications.
            </div>
            <div class="cpbt-d1h">
                <a href="#"><img src="images/follow_img1.webp" alt="facebook"></a>
                <a href="#"><img src="images/twitterpng.png" alt="Twitter"></a>
                <a href="#"><img src="images/Instagram_logo.svg.png" alt="Instagram"></a>
                <a href="#"><img src="images/LinkedIn_icon.svg.png" alt="Linkedin"></a>
            </div>
        </div>
        <div class="d2">
            <div class="cpbt-d1">
                <h3>Quick Links</h3>
            </div>
            <div class="cpbt-txt">
                <a href="#home">Home</a>
                <a href="#about">About Us</a>
                <a href="#products">Products</a>
                <a href="#projects">Projects</a>
                <a href="#testimonials">Testimonials</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
        <div class="d2">
            <div class="cpbt-d1">
                <h3>Our Products</h3>
            </div>
            <div class="cpbt-txt">
                <a href="#">Glass Windows</a>
                <a href="#">Glass Balustrades</a>
                <a href="#">Window Frames</a>
                <a href="#">Glass Doors</a>
                <a href="#">Shower Enclosure</a>
                <a href="#">Glass Partitions</a>
            </div>
        </div>
        <div class="d1">
            <div class="cpbt-d1">
                <h3>Contact Info</h3>
            </div>
            <div class="cpbt-txt">
                <div class="cpbt-d1">
                    <i class="bi bi-geo-alt">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill=" rgb(253, 222, 81)"
                            class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path
                                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                    </i>
                    <p>123 Industrial Avenue, North Industrial Accra, Ghana</p>
                </div>
                <div class="cpbt-txt">
                    <div class="cpbt-d1">
                        <i class="bi bi-telephone">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill=" rgb(253, 222, 81)"
                                class="bi bi-telephone" viewBox="0 0 16 16">
                                <path
                                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                            </svg>
                        </i>
                        <div class="cpp">
                            <p>+233 30 123 4567</p>
                            <p>+233 50 987 6543</p>
                        </div>
                    </div>
                    <div class="cpbt-txt">
                        <div class="cpbt-d1">
                            <i class="bi bi-envelope-at">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill=" rgb(253, 222, 81)"
                                    class="bi bi-envelope-at" viewBox="0 0 16 16">
                                    <path
                                        d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z" />
                                    <path
                                        d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                                </svg>
                            </i>
                            <div class="cpp">
                                <p>info&#64;prestodea.com</p>
                                <p>sales&#64;prestodea.com</p>
                            </div>
                        </div>
                        <div class="cpbt-txt">
                            <div class="cpbt-d1">
                                <i class="bi bi-clock-history">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                        fill=" rgb(253, 222, 81)" class="bi bi-clock-history" viewBox="0 0 16 16">
                                        <path
                                            d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z" />
                                        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z" />
                                        <path
                                            d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                </i>
                                <div class="cpp">
                                    <p>Monday - Friday: 8:00 AM - 5:00 PM</p>
                                    <p>Saturday: 9:00 AM - 1:00 PM</p>
                                    <p>Sunday: Closed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>